<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QA登录系统</title>
    <link rel="icon" href="https://cdn.lingo-ace.com/common/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
    <style>
        .login-container {
            width: 100%;
            height: 100%;
        }

        .login-page {
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 180px auto;
            width: 350px;
            padding: 35px 35px 15px;
            background-color: rgba(54, 56, 80, 0.5);
            border: 1px solid rgba(234, 234, 234, 0);
            box-shadow: 0 0 25px rgba(202, 198, 198, 0);
        }

        label.el-checkbox.rememberme {
            margin: 0px 0px 15px;
            text-align: left;
        }

        .login-btn {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="login-container">
        <el-form status-icon label-position="left" label-width="0px" class="demo-ruleForm login-page">
            <p class="login-logo"
               style=" width: 100%;height: 50px;display: flex;justify-content: center;margin: 10px 0 5px;">
                <img src="/static/lingoace.png" alt="">
            </p>
            <h3 class="title" style="color: aliceblue">登录</h3>
            <el-form-item style="width:100%;">
                <el-button type="primary" style="width:100%;" @click="openOauth">Sign In</el-button>
            </el-form-item>
        </el-form>
    </div>
    <div id="bg">
        <canvas id="canvas1"
                style="width:100%;height: 100%;position:absolute;top:0px;left:0px;z-index:-1;"></canvas>
        <canvas id="canvas2"
                style="width:100%;height: 100%;position:absolute;top:0px;left:0px;z-index:-1;"></canvas>
        <canvas id="canvas3"
                style="width:100%;height: 100%;position:absolute;top:0px;left:0px;z-index:-1;"></canvas>
    </div>
</div>
</body>
<script type="application/javascript">
    let vue = new Vue({
        el: "#app",
        data: {
            userData: {[userData]},
            iframeFlag: '{[iframeFlag]}',
            checked: false
        },
        created() {
            this.setUserData()
            this.drawCanvas()
        },
        mounted() {
            this.setUserData()
            this.drawCanvas()
        },
        methods: {
            openOauth() {
                let href = '{[auth_url]}'.replaceAll('amp;', '')
                let parentUrl = null
                if (this.iframeFlag === 'false') {
                    window.location.href = href
                } else {
                    if (document.referrer) {
                        parentUrl = new URL(document.referrer)
                    }
                    window.parent.postMessage({oauth: href}, parentUrl.origin)
                }
            },
            setUserData() {
                if (this.iframeFlag !== 'false') {
                    let parentUrl = new URL(document.referrer)
                    if (Object.keys(this.userData).length > 0) {
                        window.parent.postMessage({userData: this.userData}, parentUrl.origin)
                    }
                }
            },
            drawCanvas() {
                var background = document.getElementById('canvas1'),
                    foreground1 = document.getElementById('canvas2'),
                    foreground2 = document.getElementById('canvas3'),
                    config = {
                        circle: {
                            amount: 18,
                            layer: 3,
                            color: [126, 72, 218],
                            alpha: 0.3
                        },
                        line: {
                            amount: 12,
                            layer: 3,
                            color: [255, 255, 255],
                            alpha: 0.3
                        },
                        speed: 0.5,
                        angle: 20
                    };
                if (background.getContext) {
                    var bctx = background.getContext('2d'),
                        fctx1 = foreground1.getContext('2d'),
                        fctx2 = foreground2.getContext('2d'),
                        M = window.Math, // Cached Math
                        degree = config.angle / 360 * M.PI * 2,
                        circles = [],
                        lines = [],
                        wWidth, wHeight, timer;

                    requestAnimationFrame = window.requestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        window.webkitRequestAnimationFrame ||
                        window.msRequestAnimationFrame ||
                        window.oRequestAnimationFrame ||
                        function (callback, element) {
                            setTimeout(callback, 1000 / 60);
                        };

                    cancelAnimationFrame = window.cancelAnimationFrame ||
                        window.mozCancelAnimationFrame ||
                        window.webkitCancelAnimationFrame ||
                        window.msCancelAnimationFrame ||
                        window.oCancelAnimationFrame ||
                        clearTimeout;

                    var setCanvasHeight = function () {
                        wWidth = window.innerWidth;
                        wHeight = window.innerHeight,

                            // canvas.each(function() {
                            background.width = wWidth;
                        background.height = wHeight;
                        foreground1.width = wWidth;
                        foreground1.height = wHeight;
                        foreground2.width = wWidth;
                        foreground2.height = wHeight;
                        // });
                    };

                    var drawCircle = function (x, y, radius, color, alpha) {
                        var gradient = fctx1.createRadialGradient(x, y, radius, x, y, 0);
                        gradient.addColorStop(0, 'rgba(' + color[0] + ',' + color[1] + ',' + color[2] + ',' + alpha + ')');
                        gradient.addColorStop(1, 'rgba(' + color[0] + ',' + color[1] + ',' + color[2] + ',' + (alpha - 0.1) + ')');

                        fctx1.beginPath();
                        fctx1.arc(x, y, radius, 0, M.PI * 2, true);
                        fctx1.fillStyle = gradient;
                        fctx1.fill();
                    };

                    var drawLine = function (x, y, width, color, alpha) {
                        var endX = x + M.sin(degree) * width,
                            endY = y - M.cos(degree) * width,
                            gradient = fctx2.createLinearGradient(x, y, endX, endY);
                        gradient.addColorStop(0, 'rgba(' + color[0] + ',' + color[1] + ',' + color[2] + ',' + alpha + ')');
                        gradient.addColorStop(1, 'rgba(' + color[0] + ',' + color[1] + ',' + color[2] + ',' + (alpha - 0.1) + ')');

                        fctx2.beginPath();
                        fctx2.moveTo(x, y);
                        fctx2.lineTo(endX, endY);
                        fctx2.lineWidth = 3;
                        fctx2.lineCap = 'round';
                        fctx2.strokeStyle = gradient;
                        fctx2.stroke();
                    };

                    var drawBack = function () {
                        bctx.clearRect(0, 0, wWidth, wHeight);

                        var gradient = [];

                        gradient[0] = bctx.createRadialGradient(wWidth * 0.3, wHeight * 0.1, 0, wWidth * 0.3, wHeight * 0.1, wWidth * 0.9);
                        gradient[0].addColorStop(0, 'rgb(8, 8, 1)');
                        // gradient[0].addColorStop(1, 'transparent');

                        bctx.translate(wWidth, 0);
                        bctx.scale(-1, 1);
                        bctx.beginPath();
                        bctx.fillStyle = gradient[0];
                        bctx.fillRect(0, 0, wWidth, wHeight);

                        gradient[1] = bctx.createRadialGradient(wWidth * 0.1, wHeight * 0.1, 0, wWidth * 0.3, wHeight * 0.1, wWidth);
                        gradient[1].addColorStop(0, 'rgb(8, 8, 1)');
                        // gradient[1].addColorStop(1, 'transparent');

                        bctx.translate(wWidth, 0);
                        bctx.scale(-1, 1);
                        bctx.beginPath();
                        bctx.fillStyle = gradient[1];
                        bctx.fillRect(0, 0, wWidth, wHeight);

                        gradient[2] = bctx.createRadialGradient(wWidth * 0.1, wHeight * 0.5, 0, wWidth * 0.1, wHeight * 0.5, wWidth * 0.5);
                        gradient[2].addColorStop(0, 'rgb(8, 8, 1)');
                        // gradient[2].addColorStop(1, 'transparent');

                        bctx.beginPath();
                        bctx.fillStyle = gradient[2];
                        bctx.fillRect(0, 0, wWidth, wHeight);
                    };

                    var animate = function () {
                        var sin = M.sin(degree),
                            cos = M.cos(degree);

                        if (config.circle.amount > 0 && config.circle.layer > 0) {
                            fctx1.clearRect(0, 0, wWidth, wHeight);
                            for (var i = 0, len = circles.length; i < len; i++) {
                                var item = circles[i],
                                    x = item.x,
                                    y = item.y,
                                    radius = item.radius,
                                    speed = item.speed;

                                if (x > wWidth + radius) {
                                    x = -radius;
                                } else if (x < -radius) {
                                    x = wWidth + radius
                                } else {
                                    x += sin * speed;
                                }

                                if (y > wHeight + radius) {
                                    y = -radius;
                                } else if (y < -radius) {
                                    y = wHeight + radius;
                                } else {
                                    y -= cos * speed;
                                }

                                item.x = x;
                                item.y = y;
                                drawCircle(x, y, radius, item.color, item.alpha);
                            }
                        }

                        if (config.line.amount > 0 && config.line.layer > 0) {
                            fctx2.clearRect(0, 0, wWidth, wHeight);
                            for (var j = 0, len = lines.length; j < len; j++) {
                                var item = lines[j],
                                    x = item.x,
                                    y = item.y,
                                    width = item.width,
                                    speed = item.speed;

                                if (x > wWidth + width * sin) {
                                    x = -width * sin;
                                } else if (x < -width * sin) {
                                    x = wWidth + width * sin;
                                } else {
                                    x += sin * speed;
                                }

                                if (y > wHeight + width * cos) {
                                    y = -width * cos;
                                } else if (y < -width * cos) {
                                    y = wHeight + width * cos;
                                } else {
                                    y -= cos * speed;
                                }

                                item.x = x;
                                item.y = y;
                                drawLine(x, y, width, item.color, item.alpha);
                            }
                        }

                        timer = requestAnimationFrame(animate);
                    };

                    var createItem = function () {
                        circles = [];
                        lines = [];

                        if (config.circle.amount > 0 && config.circle.layer > 0) {
                            for (var i = 0; i < config.circle.amount / config.circle.layer; i++) {
                                for (var j = 0; j < config.circle.layer; j++) {
                                    circles.push({
                                        x: M.random() * wWidth,
                                        y: M.random() * wHeight,
                                        radius: M.random() * (20 + j * 5) + (20 + j * 5),
                                        color: config.circle.color,
                                        alpha: M.random() * 0.2 + (config.circle.alpha - j * 0.1),
                                        speed: config.speed * (1 + j * 0.5)
                                    });
                                }
                            }
                        }

                        if (config.line.amount > 0 && config.line.layer > 0) {
                            for (var m = 0; m < config.line.amount / config.line.layer; m++) {
                                for (var n = 0; n < config.line.layer; n++) {
                                    lines.push({
                                        x: M.random() * wWidth,
                                        y: M.random() * wHeight,
                                        width: M.random() * (20 + n * 5) + (20 + n * 5),
                                        color: config.line.color,
                                        alpha: M.random() * 0.2 + (config.line.alpha - n * 0.1),
                                        speed: config.speed * (1 + n * 0.5)
                                    });
                                }
                            }
                        }

                        cancelAnimationFrame(timer);
                        timer = requestAnimationFrame(animate);
                        drawBack();
                    };
                    setCanvasHeight();
                    createItem();
                }
            },
        }
    })

</script>
</html>

