<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Microsoft Identity Python Web App</h1>
    <div id="receive">接收</div>
    <li><a href="/logout">Logout</a></li>
</div>
</body>
<script>
    window.onload = function () {
        function getCookie(objName) {//获取指定名称的cookie的值
            var arrStr = document.cookie.split("; ");
            for (var i = 0; i < arrStr.length; i++) {
                var temp = arrStr[i].split("=");
                if (temp[0] == objName) return unescape(temp[1]);  //解码
                console.log(temp[1])
            }
            return "";
        }
    }
</script>
</html>